*{
    margin: 0;
    padding: 0;
}

:root{
    font-size: 62.5%;
    --cor1: #5C6981;
    --cor2: #8E9AAF;
    --cor3: #CBC0D3;
    --cor4: #FEEAFA;
}

header{
/*    width:38.4rem;
    height:20.9rem;
*/
    background-color: var(--cor1);
    text-align: center;
}

header h1{
    background-color: var(--cor3);
}

img{
    width: 100%;
    width: 32.0rem;
    height: 45.0rem;
    left: 3.2rem;

    border-radius: 40px;
}

header img{
    width:13.7rem ;
    height:10.7rem ;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main img{
    width: 32.0rem;
    height: 25.0rem;
    left: 32px;
    padding: 1rem;

}
main p{
    text-align: center;
    padding: 2rem;
}

.cards, .cards-maior{
    position: relative;
}

.cards h2{
    position: absolute;
    top: 3rem;
    right: 3rem;

    display: flex;
    flex-direction: column;
    gap: 2.8rem;

    color: var(--cor4);

    background-color: var(--cor2);
    padding: 1rem;
    border-radius: 2rem;
}

.cards-maior h2{
    position: absolute;
    top: 3rem;
    right: 3rem;

    display: flex;
    flex-direction: column;
    gap: 2.8rem;

    color: var(--cor4);

    background-color: var(--cor2);
    padding: 1rem;
    border-radius: 2rem;
}

.cards-maior img{
    height: 35.0rem;
}