*{
    margin: 0;
    padding: 0;
}

:root{
    font-size: 62.5%;
    --cor1: #5C6981;
    --cor2: #8E9AAF;
    --cor3: #CBC0D3;
    --cor4: #FEEAFA;
}

header{
    position: absolute;
    width:38.4rem;
    height:20.9rem;
    background-color: var(--cor1);
    text-align: center;
}

header h1{
    background-color: var(--cor3);
}

img{
    width: 100%;
}

header img{
    width:13.7rem ;
    height:10.7rem ;
}
