*{
    margin: 0;
    padding: 0;
}

:root{
    font-size: 62.5%;
    --cor1: #5C6981;
    --cor2: #8E9AAF;
    --cor3: #CBC0D3;
    --cor4: #FEEAFA;
}

header{
    position: absolute;
    width:38.4rem;
    height:20.9rem;
    background-color: var(--cor1);
    text-align: center;
}

header h1{
    background-color: var(--cor3);
}

img{
    width: 100%;
}

header img{
    width:13.7rem ;
    height:10.7rem ;
}

.img1{
    /* sorvete1 */

    position: absolute;
    width: 32.0rem;
    height: 25.0rem;
    left: 3.2rem;
    top: 40em;

    background: url(pablo-merchan-montes-MXovqM130UI-unsplash.jpg);
    border-radius: 20px;

}

.img2{
        /* sorvete2 */


    position: absolute;
    width: 32.0rem;
    height: 45.0rem;
    left: 3.2rem;
    top: 60rem;

    background: url(sara-julie-9Gz5bMWdGYE-unsplash.jpg);
    border-radius: 20px;
    }


.img3{
    position: absolute;
    width: 32.0rem;
    height: 25.0rem;
    left: 3.2rem;
    top: 80rem;

    background: url(sharon-mccutcheon-qtYxt46As60-unsplash.jpg);
    border-radius: 20px;
}

.img4{
    /* sorvete4 */


    position: absolute;
    width: 32.0rem;
    height: 45.0rem;
    left: 3.2rem;
    top: 100rem;

    background: url(martin-widenka-TeSVijktvkM-unsplash.jpg);
    border-radius: 20px;
}