*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:root{
    --ff-heading: 'Epologue',sans-serif;
    --ff-texting : 'Open sans', sans-serif;

    --hue:250;
    --bg-primary: hsl(var(--hue), 22% , 20%);
    --fc-primary: hsl(var(--hue), 0% , 100%);
    --fc-secundary:hsl(var(--hue), 50% , 80%);
    --fc-secundary-dark:hsl(var(--hue), 100%, 11%, 1);

    font-size: 62.5%;
    --fs-body:1.6rem;
    --ft-heading:4rem;
}

body{


    font-family: var(--ff-texting);
    background-color: var(--bg-primary);
    color: var(--fc-primary);

    font-size: var(--fs-body);

}

img{
    width: 100%;
    height: auto;
}

header{
    font-family: var(--ff-heading);
    text-align: center;
    margin: 10rem 0 8rem;

    animation-name: topdown ; /*Nome escolhido la embaixo para o keyframe*/
    animation-duration: 1s;
    animation-fill-mode: forwards; /*Toda vez que acaba uma animação ela volta ao normal, mas com essa
                                    propriedade, ele acaba na % que for escolhida*/
    animation-delay: 200ms;
    /*animation-iteration-count: infinite; Fica infinita a animação*/
    /*animation-play-state: paused; Ela pausa quando o mouse sai de cima*/
}

header:hover{
    animation-play-state: running; /*Para pegar quando coloca o mouse em cima*/
}

header p {
    color: var(--fc-secundary);
    text-transform: uppercase;

    letter-spacing: 3px;
    line-height: 3.2rem;

    margin-bottom: 1.7rem;
    font-weight: 400;
}

header h1{
    font-weight: 800;
    font-size: var(--ff-heading);   
    line-height: 4.8rem; 
}

main{
    display: grid;
    gap: 3.2rem;

    padding-bottom: 10rem;

    animation: downtop 700ms reverse backwards;/*Esse backwards tira o "bug" da imagem piscar quando reseta a pagina*/
    animation-delay: 200ms;

}


.card img{
    height: 41.6rem;


    object-fit: cover;
    border-radius: 0.6rem;
    transition: all 400ms;

    filter: grayscale();
    }


.card img:hover{
    transform: scale(1.1);
    filter: none;
    opacity: 1;

}

.card{
    font-family: var(--ff-heading);

    position: relative; /*DEIXA CADA CARD SER UNICO*/
}

.card h2{
    position: absolute;/*SÓ VAI FUNCIONAR SE TIVER O /\ DE POSITION RELATIVE*/
    bottom: 5.2rem;
    left: 2.8rem;

    font-size: 4rem;
    font-weight: 800;

    display: flex;
    flex-direction: column;
    gap: 2.8rem;
    
}

.card h2 span{
    border-radius: 2rem;
    background-color: var(--fc-primary);
    font-size: var(--fs-body);
    font-weight: 400;
    color: var(--fc-secundary-dark);
    padding: 0 1.6rem;
    height: 3.8rem;
    width:fit-content;/*Para não se ajustar junto com o tamanho do texto*/
    font-family: var(--ff-heading);
    
    display: inline-flex; /*serve para o SPAN pegar o HEIGHT */
    align-items: center;
}

.page{
    max-width: 33rem;
    margin: 0 auto;
}
@media (min-width: 700px){
    
    .page{
        max-width: 117rem;
        padding: 0 5rem;
    
    }
    main{
        grid-template-columns: 1fr 1fr;
    }
}
@media(min-width: 930px){

    main{
        grid-template-areas: "A A A A A A A A B B B B B B B B B B B B"
        "C C C C C C C C C C C C D D D D D D D D";
}
     main div:nth-child(1){
        grid-area: A;
     }
     main div:nth-child(2){
        grid-area: B;
     }
     main div:nth-child(3){
        grid-area: C;
     }
     main div:nth-child(4){
        grid-area: D;
     }
}


/*ANIMAÇÃO*/
/*TOPDOWN, de cima para baixo*/
@keyframes topdown {
    0%{ /*Começo*/
        opacity: 0;
        transform: translateY(-15px);
    }


    100%{ /*Fim*/
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes downtop{
    100%{
        opacity: 0;
        transform: translateY(15px);
    }
}