:root{
    --ff-heading: 'Epologue',sans-serif;
    --ff-texting : 'Open sans', sans-serif;

    --hue:250;
    --bg-primary: hsl(var(--hue), 22% , 20%);
    --fc-primary: hsl(var(--hue), 0% , 100%);
    --fc-secundary:hsl(var(--hue), 50% , 80%);
}

body{
    font-family: var(--ff-texting);
    background-color: var(--bg-primary);
    color: var(--fc-primary);

}

header{
    font-family: var(--ff-heading);
}

header p {
    color: var(--fc-secundary);
    text-transform: uppercase;
}